# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# DJANGO
# =========================
db.sqlite3
/media/
staticfiles/

# =========================
# VIRTUAL ENVS
# =========================
env/
venv/
.venv/
django/
conda/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store

# =========================
# FILES GRANDES
# =========================
*.sh
*.dmg
*.pkg
